@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html { 
  scroll-behavior: smooth; 
}

/* Custom scrollbar to match themes */
::-webkit-scrollbar { 
  width: 8px; 
}
::-webkit-scrollbar-track { 
  background: transparent; 
}
::-webkit-scrollbar-thumb { 
  background: #888; 
  border-radius: 4px; 
}
::-webkit-scrollbar-thumb:hover { 
  background: #555; 
}

/* Utility to hide scrollbars but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.preserve-3d { 
  transform-style: preserve-3d; 
}